
/* Nav panel needs to be sticky */
.navigation {
    width: 12%;
    min-height: 98vh;
    display: flex;
    flex-direction: column;
    position: fixed; 
    padding: 2rem;
}

.navigation__item {
    font-size: 1.5rem;
}

.wrapper {
    width: 15%;
    /* background-color: red; */
    /* min-height: 80vh; */
    /* display: flex; */
    flex-direction: column;
    /* position: fixed;  */
}